= render "shared/sidebar"

.chat-space
  .chat-space__header
    %h2= @group.name
    %p
      member : 
      - @group.users.each do |user|
        %span= user.name
    .chat-space__header__btn
      = link_to "Edit", "edit_group_path(@group)"
  .chat-space__body
    = render @messages
  
  .chat-space__form
    = form_for [@group, @message] do |f| 
      .chat-space__form__input-box
        = f.text_field :body, placeholder: "type a message", class: "chat-space__form__input-box__text-field"

        = f.label :image, class:"chat-space__form__file--image" do
          = fa_icon "image"
          = f.file_field :image, class: "hidden"
      .chat-space__form__btn
        = f.submit "Send", class: "chat-space__form__btn--send"