!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .sidebar
      .sidebar__header
        username
        = link_to '/' do
          = fa_icon "cog", class:"sidebar__btn"
        = link_to '/' do
          = fa_icon "edit", class:"sidebar__btn"
      .sidebar__body
        .group
          = link_to '/' do
            %h2 title
            %p first_message
        .group
          = link_to '/' do
            %h2 title
            %p first_message

    = yield
